@import '01-reset';
@import '02-fonts';
@import '03-colors';
@import '04-general';
@import '05-checkin';
@import '07-loader';

$front-color: rgba(255, 255, 255, .9);
$back-color: rgba(0, 0, 0, 1);
$active-color: rgba(255, 0, 0, 1);
$bad-color: rgba(255, 0, 0, 1);
$validate-color: rgba(255, 0, 0, 1);
$frame-color: rgba(255, 255, 255, .3);

@mixin display-inline-flex {
  display: -webkit-inline-flex;
  display: inline-flex;
}

@mixin appearance-none {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

@mixin border-radius-0 {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.sync-minimal {
  @include display-inline-flex;
  font-size: smaller;
  margin-bottom: .25em;
  margin-left: .25em;
  margin-right: .5em;

  strong {
    color: $bad-color;
  }

  div {
    margin-left: .25em;
    margin-right: .25em;
  }
}

.navigation {
  font-size: smaller;
  margin-top: .25em;
}

.delay-calibration,
.gain-calibration,
.global-calibration {

  div {
    @include display-inline-flex;
    margin-bottom: .25em;
    margin-top: .25em;
  }

  button.input-control {
    min-width: 2em;
  }

  input {
    margin-left: .25em;
    margin-right: .25em;
    text-align: center;
    width: 5em;
  }

}

.validate,
.done,
.restore {
  border-color: $validate-color;
  margin: 1em;
}

button,
select,
option {
  @include appearance-none;
  @include border-radius-0;
  background-color: $back-color;
  border: 1px solid $front-color;
  color: $front-color;
  margin: .1em;
  text-align: center;
}

button.selected {
  background-color: invert($back-color);
  color: invert($front-color);
}

select:active,
button:active {
  border-color: $active-color;
  color: $active-color;
}

