<!doctype html>
<html>
  <head>
    <!-- settings -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- title -->
    <title>Calibration Control</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="stylesheets/calibration-control.css">
  </head>

  <body>
    <div id="container" class="container"></div>
    <script src="javascripts/calibration-control.js"></script>
  </body>
</html>